# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp
*.mdf

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

ScheduleAnalysis/obj/*
ScheduleAnalysis/bin/*
TilerCore/bin/*
TilerCore/obj/*
packages/
TilerTests/obj/*
TilerElements/obj/*
TilerElements/bin/*
TilerTests/bin/Debug/BigDataLogs/*
TilerTests/bin/Debug/*.xml
TilerTests/bin/Debug/*.dll
TilerTests/bin/Debug/*.pdb
TilerTests/bin/Debug/*.exe
TilerTests/obj/Debug/
TilerTests/bin/Debug/
TilerTests/Migrations/*
TilerElements/obj/Debug/
.vs/*
UpgradeLog*
